
.FilterForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding-top: 24px;
}

.lookup-button {
  background-color: #ef6c00;
  border:none;
  border-radius: 8px;
  font-size: 20px;
  padding: 15px;
  width: 100%;
  color: papayawhip;
  margin-top: 1em;
}

  .lookup-button:hover {
    background-color: #f57c00;
    cursor: pointer;
  }

  .lookup-button:active {
    background-color: #ff5722;
  }

.FilterForm > div {
  margin: 5px 5px;
}

.reset-button {
  background-color: #9e8c7d;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  padding: 12px;
  min-width: 30%;
  color: white;
  margin: auto;
}

  .reset-button:hover {
    background-color: #af9c8d;
    cursor: pointer;
  }

  .reset-button:active {
    background-color: #867669;
  }

  
@media (max-width: 700px), screen and (max-height: 500px) {
  .input-field p {
    font-size: 12px;
  }

  .input-field input {
    font-size: 16px;
  }

  .input-field select {
    font-size: 16px;
  }
  
  .lookup-button {
    font-size: 16px;
  }
}