.FilterFormNumeric {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  color: snow;
  border: 1px solid hsl(0, 0%, 42%);
  background-color: hsl(0, 0%, 28%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
