
.FilterForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding-top: 24px;
}

.FilterForm .reset-button {
  display: inline-block;
  width: -moz-fit-content;
  background-color: snow;
  color: hsl(0, 0%, 10%);
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 70%);
  margin-bottom: 10px;
  margin-left: 4px;
  font-weight: bold;
  font-size: 0.8em;
}

.FilterForm .reset-button:hover {
  background-color: hsl(0, 0%, 95%);
}

.FilterForm .reset-button:active {
  background-color: hsl(0, 0%, 89%);
}

.FilterForm > div {
  margin: 5px 5px;
}
  
@media (max-width: 1200px), screen and (max-height: 500px) {
  .input-field p {
    font-size: 12px;
  }

  .input-field input {
    font-size: 16px;
  }

  .input-field select {
    font-size: 16px;
  }
  
  .lookup-button {
    font-size: 16px;
  }
}