
.CardDisplay {
  width: 100%;
}


/* react-table page number input */
.CardDisplay .-pagination .-pageJump input {
  background-color: #424242;
}
/* react-table row input */
.CardDisplay .-pagination select {
  background-color: #424242;
}
/* react-table previous and next buttons */
.CardDisplay .-pagination .-btn {
  color: white;
}

