.StatSummary {
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.StatSummaryColumn {
  text-align: center;
  margin: 0 8px;
}

.StatSummaryValue {
  font-size: 22px;
}