.CardViewer {
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardViewerCard {
  max-width: 80%;
  max-height: 70%;
  transform: translate(0, -10%);
}