.CardViewer {
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 0%, 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardViewerCard {
  height: 70%;
  transform: translate(0, -10%);
}

@media screen and (max-width: 700px) {
  .CardViewerCard {
    height: 60%;
  }
}