.CardImageDisplay {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
}

.CardImageDisplayCardDiv {
}

.CardImageDisplayCard {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .CardImageDisplay {
    grid-template-columns: repeat(auto-fill,minmax(160px, 1fr));
  }
}

@media screen and (max-width: 800px) {
  .CardImageDisplay {
    grid-template-columns: repeat(auto-fill,minmax(140px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .CardImageDisplay {
    grid-template-columns: repeat(auto-fill,minmax(120px, 1fr));
  }
}