.Body {
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  height: 0;
}

.BodyRight {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .Body {
    flex-direction: column;
  }
}