.Body {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

.BodyRow {
  display: flex;
  flex-direction: row;
}

.BodyLeftSpacer {
  transition: width 0.5s;
}

.BodyCardDisplayContainer {
  flex: 1 1 0px;
  padding-bottom: 200px;
}