.Header {
  position: fixed;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 7%);
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 21%);
  height: 100%;
  width: 100%;
  z-index: 100;
  box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 70%);
}

@media screen and (max-width: 700px), screen and (max-height: 500px)  {
  .Header {
    padding: 5px;
    text-align: center;
  }
}