html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #212121;
  color: snow;
}

h1 {
  margin: auto;
  margin-top: 1em;
}

p {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  scrollbar-color: hsl(0, 0%, 30%) hsl(0, 0%, 10%);
}