* {
  margin: 0;
  color: #d7ccc8;
}

body {
  background-color: #212121;
  margin: auto;
  padding: 30px;
  max-width: 1000px;
  font-size: 16px;
}

h1 {
  margin: auto;
  margin-top: 1em;
}

.stats-display {
  background-color: #424242;
  border: 1px solid #616161;
  border-radius: 8px;
  padding: 8px;
}

.Loader {
  width: 100%;
  margin-top: 5em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Loader div {
  margin: auto;
}

@media (max-width: 800px) {
  body {
    font-size: 12px;
    padding: 5px; 
  }
}